[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=messup
Exec=/usr/bin/invoker --type=d -s /opt/messup/bin/messup
Icon=/usr/share/icons/hicolor/80x80/apps/messup80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
